<%- include('templetes/head', {tituloWeb:'Mi perfil'}) %>

    <body>
        <div class="container my-3">
            <div class="jumbotron">
                <header>
                    <%- include('templetes/navbar') %>
                </header>
                <div class="containger-fluid alert-primary mt-3 mb-3">
                    <div class="p-3">
                        <h1>Mi perfil</h1>
                    </div>
                    <div class="row container justify-content-center py-3">
                        <div class="col-4 p-0">
                            <img src="imgs/avatars/<%= user.avatar %>" alt="avatar" class="px-3" width="100%">
                        </div>
                        <div class="col-8 p-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h1><strong>
                                            <%= user.name %>
                                        </strong></h1>
                                    <h4><strong>
                                            <%= user.age %> años
                                        </strong></h4>
                                </li>
                                <li class="list-group-item"><strong>Dirección: </strong>
                                    <%= user.adress %>
                                </li>
                                <li class="list-group-item"><strong>Teléfono: </strong>
                                    <%= user.phone %>
                                </li>
                                <li class="list-group-item"><strong>Email: </strong>
                                    <%= user.email %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    </html>